<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">OTT</a>
                </li>
            </ul>
            <ul>
                <span class="nav-item" style="float: right">
                    <a class="nav-link" href="#">공백</a>
                </span>
                <span class="nav-item" style="float: right">
                    <a class="nav-link" href="#">공백</a>
                </span>
            </ul>
        </div>
    </nav>
</div>